*{box-sizing: border-box;
}
body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.42857143;
}
header {
    background: #000000;
   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 60px;
    width: 100%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.logo_wrap{
    text-align: center;
    width: calc(100% - 0px);
   margin: 0 20px;
    
}
.logo_wrap a{
    display: block;
    color: #fff;
    font-size: 20px;
    padding-top: 14px;
    font-weight: 700;
    
}
.logo_wrap a:hover{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 991px){
    #showmenu-mobile{
    position: absolute;
    left: 200;
    top: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    }
    #showmenu-mobile span {
    background: #fff;
    height: 2px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    }
    .header_menu{
        display: none;
        left: -2280px;
    }
}
.nav_moble{
    position: fixed;
    background-color: #000000;
    background-image: initial;
    height: 100%;
    z-index: 10;
    width: 250px;
    color: #fff;
    top: 0;
    left: 0px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: transform linear 0.35s;
}
.overlay{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    
}
.nav_input:checked ~ .overlay{
    display: block;
}
.nav_input:checked ~ .nav_moble{
    transform: translateX(0%);
}
.nav_moble ul{
    padding: 0;
    margin: 0;
}
.nav_moble ul li{
    display: block;
    text-align: left;
    float: none;
    padding: 10px;
}
.nav_moble ul li a{
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
}
.nav_moble ul ul li{
    padding: 12px 10px;
    float: none;
}
.nav_moble ul ul li a{
    color: #fff;
}

.header_menu{
   
    float: left;
    
    padding: 0px;
    margin: 0px;
    color: white;
    font-weight: 300;
    line-height: 1.42857143;
    display: block;
}
.header_menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropbtn{
    background-color:#000;
    color: white;
    font-weight: 700;
    padding-top:2px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: block;
}
.header_menu ul li {
    display: inline-block;
    padding:19px 0px 0px;
    position: relative;
    background-color: transparent;
    vertical-align: baseline;
}
.header_menu ul li a {
    display: inline-block;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
}
.header-menu-ul-li-content {
    display: none;
    position:absolute;
    background-color: #fff;
    width: 320px;
    text-align: left;
    height: auto;
    box-shadow:black;
    z-index: 99;
    color: #000000;
}
.header-menu-ul-li-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-weight: 700;
}
.header-menu-ul-li-content a:hover {border-bottom: 4px solid #3750b2;}

.header_menu ul li:hover .header-menu-ul-li-content {
    display: block;
}
.header_menu ul li:hover .dropbtn {
    border-bottom: 4px solid #3750b2;
    padding-bottom: 15px;
}
#before {
    border-bottom: 4px solid #3750b2;
    padding-bottom: 13px;
}
main {
    margin-top: 60px;
    background: #f5f5f5;
}
.slide{
    margin-top: 30px;
    margin-bottom: 50px;
}
.slide img{
    background-position: center center;
    height: 500px;
    width: 100%;
}
.bar{
    background: #fff;
    position: sticky;
    left: 0;
    top:100px;
    margin-bottom: 40px;
}

#bar a{
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 700;
    background: #fff;
    border: #fff;
}
#bar a:active{
    color: #3750b2;
}
.menuhome{
    display: inline-block;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    color: #000;
}
.menuhome::after{
    content: '';
    height: 4px;
    background: #3750b2;
    width: 50%;
    display: block;
}
.display_flex {
    display: flex;
}
.flex_wrap {
    flex-wrap: wrap;
}
.menu_lists {
    margin-left: -15px;
    margin-right: -15px;
}
.menu_item {
    background: #fff;
    flex: 0 0 calc(33.333% - 30px);
    margin: 0 15px 30px;
    min-height: 145px;
    overflow: hidden;
}
@media (max-width: 991px){
    .menu_item {
        flex: 0 0 calc(50% - 30px);
    }
}
.menu_item .menu_item_image {
    position: relative;
}
.menu_item .menu_item_image img {
    width: 100%;
}
.menu_item .menu_item_info.bg_white {
    background: #fff;
    padding: 12px 15px;
    position: relative;
    z-index: 1;
}
.menu_item_info.bg_white h3 {
    height: 65px;
    max-height: 65px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.menu_item_info.bg_white h3 a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu_item_info.bg_white h3 a:hover{
    color: #3750b2;
}
.menu_item .price_product_item {
    font-size: 20px;
    font-weight: 700;
    color: #3750b2;
    margin-bottom: 10px;
}
  .button {
    border: 2px solid #3750b2;
    border-radius: 1px;
    width: 100px;
    height: 36px;
    display: block;
  
    background: linear-gradient(to right,#fff 50%, #3750b2 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .button:hover {
    background-position: left bottom;
  }
  
  .text {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px; 
    color: #fff;
    transition: all .6s ease-out;
    display: block;
  }
  
  .text:hover {
    color: #3750b2;  
    text-decoration: none;
  }
footer {
    background: #000000;
    padding-top: 100px;
    padding-bottom: 20px;
}
.footer_title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    margin-bottom: 10px;
    text-shadow: 0 0 0px black;
    
}
.footer_linklists {
    padding: 0;
    margin: 0;
   list-style: none;

}
.footer_linklists li a {
    color: #fff;
    line-height: 20px;
    text-decoration: none;
}
.address_footer {
    margin-top: 30px;
}
.hotline_footer p, .address_footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}
.copyright_footer {
    border-top: 1px solid #fff;
    margin-top: 30px;
    padding: 20px 0 0;
}
.copyright_footer .copyright_col {
    color: #fff;    
}
.copyright_menu ul {
    padding: 0;
    margin: 0;
}
.copyright_menu ul li {
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 5px;
}
.copyright_menu ul li:last-child {
    border-right: 0;
}
.copyright_menu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.copyright_menu ul li a:hover{
    text-decoration: none;
}
@media (max-width: 767px){
    .copyright_footer {
        display: block;
        text-align: center;
    }
    .copyright_footer .copyright_col {
        margin-bottom: 15px;
    }
}
@media (max-width: 1286px){
    .copyright_footer .copyright_menu{
        margin-left: 70px;
    }
}
.sticky{
    position: sticky;
    top:100px;
    left: 0;
    margin-bottom: 20px;
}
.nav-item a{
    color: #000;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: #fff;
}
.nav-item a:hover{
    color: #000;
}
#myScrollspy a.nav-link.active {
    background-color: #ffffff;
    color: #2b3687;
}
@media (min-width: 576px)
    {
    .border_right_before:before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        top: 0;
        background: #3750b2;
    }       
}
#giohang {
    background-color: #3750b2;
    padding: 4px 10px;   
    padding-bottom: 6px;  
    border-radius: 100%;
    color: #fff;
}
/* modal */
.img_modal {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.footer_modal{
    padding: 15px 30px;
    display: flex;
  
}
.minus{
    float: left;
    width: 40px;
    height: 40px;
    color: #3750b2;
    background-color: #fff;
    border: #fff;
}
.minus:hover{
    color: #3750b2;
}
.plus{
    padding-left: 1.5rem;
    width: 40px;
    height: 40px;
    color: #3750b2;
    background-color: #fff;
    border: #fff;

}
.plus:hover{
    color: #3750b2;
}
.modal_tien{
    color: #fff;
    background-color: #EA8025;
    font-size: 16px;
    float: right;
    font-weight: 400;
    border: 1px solid transparent;
    padding: 5px 10px;
}
.modal_tien:hover{
    background-color: #2b3687;
}
#size p{
    margin: 0px;
}
.bold{
    font-weight: bold;
}



